@use "./functions.scss" as funcs;
@use "./mixins.scss" as mixins;
@use "./colors.scss" as colors;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    line-height: 1.5;
    @include mixins.font("secondary", 400);
}
a,
a:visited,
a:focus {
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: color 0.3s, background 0.3s;
}

li {
    list-style-type: none;
    margin: 0;
    // padding: funcs.rem(8);
    width: funcs.rem(40);
    height: funcs.rem(40);
    @include mixins.flexer(center, center);
    display: inline-flex;
    border-radius: 50%;
    font-size: funcs.rem(20);
    border: 1px solid #fff;
    transition: color 0.3s, background 0.3s;
}
li:not(:last-child) {
    margin-right: funcs.rem(15);
}
