@mixin flexer($ai: start, $jc: center, $orientation: row) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $orientation;
}

@mixin font($font, $weight: 400) {
    $fonts-styles: (
        "primary": "Poppins",
        "secondary": "Open Sans",
    );
    font-family: map-get($fonts-styles, $font), sans-serif;
    font-weight: $weight;
}
