@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: color 0.3s, background 0.3s;
}

li {
  list-style-type: none;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: inline-flex;
  border-radius: 50%;
  font-size: 1.25rem;
  border: 1px solid #fff;
  transition: color 0.3s, background 0.3s;
}

li:not(:last-child) {
  margin-right: 0.9375rem;
}

.container {
  width: 100%;
  height: 100%;
  background: #674baf url(../../images/bg-desktop.svg) center center/contain;
  padding: 3.5625rem 4.875rem 2.125rem;
}
.container_logo {
  margin-bottom: 6rem;
}
.container_hero {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}
.container_hero .right {
  margin-left: 3.4375rem;
  color: #fff;
}
.container_hero .right .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 2.1875rem;
}
.container_hero .right .content {
  width: 31.25rem;
}
.container_hero .right a {
  display: inline-block;
  margin-top: 2.875rem;
  width: 12.5rem;
  height: 3.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 6.25rem;
  background: #fff;
  color: #674baf;
}
.container_hero .right a:hover {
  color: #fff;
  background: #e882e8;
}
.container_footer {
  width: 80%;
  margin: auto;
}
.container_footer ul {
  width: 9.6875rem;
  height: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.container_footer ul li:hover {
  border-color: #e882e8;
}
.container_footer ul li:hover a {
  color: #e882e8;
}

@media screen and (max-width: 380px) {
  .container {
    background-image: url(../../images/bg-mobile.svg);
    padding: 3.125rem;
    height: auto;
  }
  .container_logo {
    height: 2.5rem;
    width: fit-content;
  }
  .container_logo img {
    width: 100%;
    height: 100%;
  }
  .container_hero {
    flex-direction: column;
  }
  .container_hero .left {
    width: 100%;
  }
  .container_hero .left img {
    width: 100%;
    height: 100%;
  }
  .container_hero .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    margin-bottom: 6.25rem;
    width: 100%;
  }
  .container_hero .right .title {
    font-size: 1.5625rem;
  }
  .container_hero .right .content {
    font-size: 0.9375rem;
  }
  .container_footer ul {
    margin-right: auto;
  }
}

/*# sourceMappingURL=style.css.map */
