@use "./utils/index" as vars;

.container {
    width: 100%;
    height: 100%;
    background: vars.$violet url(../../images/bg-desktop.svg) center center/contain;
    padding: vars.rem(57) vars.rem(78) vars.rem(34);

    &_logo {
        margin-bottom: vars.rem(96);
    }

    &_hero {
        @include vars.flexer(start, start);

        .right {
            margin-left: vars.rem(55);
            color: #fff;

            .title {
                @include vars.font("primary", 600);
                margin-bottom: vars.rem(35);
            }

            .content {
                width: vars.rem(500);
            }

            a {
                display: inline-block;
                margin-top: vars.rem(46);

                width: vars.rem(200);
                height: vars.rem(55);
                @include vars.flexer(center, center);
                border-radius: vars.rem(100);
                background: #fff;
                color: vars.$violet;

                &:hover {
                    color: #fff;
                    background: vars.$soft-magenta;
                }
            }
        }
    }

    &_footer {
        // background: red;
        width: 80%;
        margin: auto;

        ul {
            // background: green;
            width: vars.rem(155);
            height: 100%;
            margin-left: auto;
            @include vars.flexer(center, space-evenly);

            li:hover {
                border-color: vars.$soft-magenta;

                a {
                    color: vars.$soft-magenta;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .container {
        background-image: url(../../images/bg-mobile.svg);
        padding: vars.rem(50);
        height: auto;

        &_logo {
            height: vars.rem(40);
            width: fit-content;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &_hero {
            flex-direction: column;

            .left {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                }
            }

            .right {
                @include vars.flexer(center, center, column);
                text-align: center;
                margin: 0;
                margin-bottom: vars.rem(100);
                width: 100%;

                .title {
                    font-size: vars.rem(25);
                }

                .content {
                    font-size: vars.rem(15);
                }
            }
        }

        &_footer {
            // background: red;

            ul {
                margin-right: auto;
            }
        }
    }
}
